@tailwind base;
@tailwind components;
@tailwind utilities;

@import './theme-dark.css';

@layer base {
  body {
    @apply bg-primaryBg-900;
    @apply text-primaryText-900;
    @apply w-screen overflow-hidden;
    /* -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none; */
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
